@model RegistroViewModel

@{
    ViewData["Title"] = "Registro";
}

<h1 class="mb-3 mt-3">Registrate</h1>

<div class="card">
    <div class="card-body">
        <form asp-action="Registro">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control"/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Password" class="form-label"></label>
                <input asp-for="Password" class="form-control"/>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <a class="mb-3" style="display: block;" asp-action="Login">
                Inicia sesión aquí ...
            </a>

            <button type="submit" style="width: 100% !important; font-size: 1.25rem;" class="boton btn btn-primary">
                Registro
            </button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}